name: Job Dependencies Demo

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: mkdir build && echo 'test' > build/a.txt
      - uses: actions/upload-artifact@v4
        with:
          name: artifact
          path: build/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: artifact
      - run: ls -R
