name: Job Dependencies Demo

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: mkdir build && echo 'test' > build/art.txt
      - uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: build/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: build-artifact
      - name: Deploy
        run: ls -R
